
@keyframes example{
  0%{background-color:red;left:0px;top:0px;}
  25%{background-color:yellow;left:200px;top:0px;}
  50%{background-color:orange;left:200px;top:200px;}
  75%{background-color:green;left:0px;top:200px;}
  100%{background-color:red;left:0px;top:0px;}
}
div.anima {
  width:100px;
  height:100px;
  background-color:red;
  animation: example;
  animation-duration: 0;
  position: relative;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode:forwards;
}
body{
  text-align: center;
}
div.Tooltip{
  position:relative;
  display:inline-block;
  border-bottom: 1px dotted black;
}
.Tooltip .Tooltip-text{
  visibility:hidden;
  background-color:black;
  color:white;
  padding: 5px 0;
  text-align:center;
  border-radius: 6px;
  width:120px;

  position:absolute;
  z-index: 1;
  bottom:100%;
  left:50%;
  margin-left: -60px;
}
.Tooltip:hover .Tooltip-text{
  visibility: visible;
}

.Tooltip .Tooltip-text::after{
  content:" ";
  position:absolute;
  bottom:100%;
  left:50%;
  margin-left:-5px;
  border-width:5px;
  border-style: solid;
  border-color: transparent transparent black transparent; 
}
