.grid-container{
  display:grid;
  grid-template-columns: auto auto auto;
  background-color:#2196F3;
  padding:15px;
  height:400px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  /* justify-content: start; */
  align-content:start;
  grid-template-areas: 'item1 item1 item1 item1 item1';
}
.grid-item{
  border:1px solid rgba(1, 1, 1, 0.8);
  background-color:rgba(255, 255, 255, 0.8);
  padding:20px;
  font-size:30px;
  text-align:center;
}
.item1{
  background-color:red;
  /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start:1;
  grid-row-end:3; */
  grid-area: item1;
  border: 1px solid red;
  padding:15px;
}
.rcorner1{
  border:2px solid green;
  border-radius: 50%;
  padding:250px;
  background-color:green;
  margin:10px 0;
}
.rcorner2{
  border:2px solid green;
  border-radius: 5px 50px 10px 20px;
  padding:50px;
  background-color:green;
  margin:10px 0;
}
.rcorner3{
  border:2px solid green;
  border-radius: 5px 50px 10px;
  padding:50px;
  background-color:green;
  margin:10px;
}
.rcorner2{
  border:2px solid green;
  border-radius: 5px 50px;
  padding:50px;
  background-color:green;
  margin:10px;
}
.background-border{
  border: 10px solid transparent;
  padding: 15px;
  border-image:url('https://www.w3schools.com/css/border.png') 20% round;
}
.css-backgrounds{
background-color:yellow;
padding: 100px;
width:100px;
box-shadow: 0 6px 8px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p.test1{
  width:200px;
  white-space: nowrap;
  border: 1px solid black;
  overflow:hidden;
  text-overflow: clipped;

}
@font-face{
  font-family: myFirstFont;
  src: url(https://www.w3schools.com/css/sansation_bold.woff);
  font-weight: bold;
}
p.test2{
  width:200px;
  white-space:nowrap;
  border: 2px solid blue;
  overflow:hidden;
  text-overflow: ellipsis;
}
p.test2:hover{
  overflow: visible;
}
p.ww-test{
  border:2px solid black;
  width: 50px;
  word-wrap: keep-all;
  writing-mode: vertical-lr;
}
p{
  font-family: myFirstFont;
}
img.Paris{
  display: block;
  margin-left: auto;
  margin-right:auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  max-width:100%;
  height: auto;
  filter: grayscale(100%);
}
img:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
div.polaroid{
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px; 
  position: relative;
  width:50%;
}
.cince{
  display:block;
  width:100%;
  height:auto;
}
div.container{
  text-align: center;
  padding:10px 20px;
}
.overlay-test{
  background-color:#008CBA;
  position:absolute;
  top:0;
  bottom:100%;
  left:0;
  right:0;
  width:100%;
  height:0;
  opacity:0;
  transition: 1s ease;

}
.polaroid:hover .overlay-test{
  opacity:1;
  bottom:0;
  height:100%;
}
.transformations{
  background-color:red;
  width:100px;
  height:100px;
  padding:10px;
  border: 1px solid black;
  border-width: 10px;
  transform: rotate(45deg);
}