
@keyframes example{
  0%{background-color:red;}
  25%{background-color:yellow;}
  50%{background-color:orange;}
  100%{background-color:red;}
}
div {
  width:100px;
  height:100px;
  background-color:red;
  animation: example;
  animation-duration: 4s;
}